---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Arthy is an architect rooted in purpose, practicality, and people-first design. She brings sensitivity to context and a quiet strength to her work — creating spaces that breathe and belong.
		</p>
		<p>From homes to public spaces, her work reflects a deep care for how we live, gather, and grow. She occasionally shares reflections and design musings here.</p>
	</div>
</div>


