---
import { Image } from 'astro:assets';
import AbbyLogo from '@src/assets/img/abby-logo.png';

type PicSize = 'sm' | 'md' | 'lg';
interface Props {
	picSize: PicSize;
}
const { picSize } = Astro.props;
---

<div class='flex gap-4 items-center leading-tight not-prose'>
	<a
		href='https://www.linkedin.com/in/arthyarchitect/'
		target='_blank'
		rel='noopener noreferrer'
		class:list={[
			'rounded-full overflow-hidden shrink-0',
			{ 'w-12 h-12': picSize === 'sm' },
			{ 'w-[70px] h-[70px]': picSize === 'md' },
			{ 'w-[90px] h-[90px]': picSize === 'lg' }
		]}
	>
		<Image src={AbbyLogo} alt='Arthy (Abigail) Muthu' />
	</a>
	<div>
		<div>
			<a
				href='https://www.arthyarchitect.com'
				class='block font-bold text-inherit hover:text-[var(--link-color)]'
				target='_blank'
				rel='noopener noreferrer'
			>
				Arthy (Abigail) Muthu
			</a>
		</div>
		<small class='avatar__subtitle'>Architect</small>
	</div>
</div>
